? my $arg = shift;
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><?= $arg->{appname} ?> - Attendee Management Service</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><?= $arg->{appname} ?></a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/login">Login with Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero-unit">
      <h1><?= $arg->{appname} ?></h1>
      <p>Attendee Management Service</p>
    </div>
  </div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>


